@using Fostor.Ginkgo.Web.Views.Shared.Components.SideBarUserArea
@model SideBarUserAreaViewModel
<div class="user-info">
    <div class="info-container">
        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons col-blue-grey" style="vertical-align:middle;">account_box</i>
        @Html.Raw(Model.GetShownLoginName())
        </div>      
        <div class="btn-group user-helper-dropdown">
            <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"  >keyboard_arrow_down</i>
            <ul class="dropdown-menu pull-right">
                <li><a asp-area="" asp-controller="Account" asp-action="Logout"><i class="material-icons">input</i>@L("Logout")</a></li>
                <li><a asp-area="" asp-controller="Users" asp-action="ChangePassword" ><i class="material-icons">security</i>@L("ChangePassword")</a></li>
            </ul>
        </div>
    </div>
</div>