@using Fostor.Ginkgo.Web.Startup
@{
    ViewBag.CurrentPageName = "Home"; // The menu item will be active for this page.
}
@section styles {
    <link href="~/lib/morris.js/morris.css" rel="stylesheet" asp-append-version="true" />
}
@section scripts
    {
    <script src="~/view-resources/Views/Home/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("HomePage")
                </h2>
            </div>
            <div class="row m-t-5 m-b-5 m-l-5 m-r-5 ">
                <div class="col-md-12 panel panel-info  p-b-15 m-b--5">
                    <div class="header">
                        <h2>快速入口</h2>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6" style="max-width:140px;text-align:center;">
                        <a class="btn btn-lg waves-effect bg-cyan m-t-10" asp-action="Index" asp-area="" asp-controller="Home" style="font-size:larger;"><i class="material-icons">find_in_page</i><br /><span style="font-size:medium;">@L("HomePage")</span></a>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>