@using Fostor.Ginkgo.Web.Models.Common.Modals
@using System.Collections.Generic
@{
    Layout = null;
}
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("AddTaskRole")))

<div class="modal-body">
    <form name="TaskRoleCreateForm" role="form" novalidate class="form-validation form-horizontal">        
        <div class="modal-body">
            <div class="form-group">
                <label class="col-md-2 control-label">@L("RoleCode")</label>
                <div class="col-md-10">
                    <div class="form-line">
                        <input class="form-control" type="text" name="RoleCode" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">@L("RoleName")</label>
                <div class="col-md-10">
                    <div class="form-line">
                        <input class="form-control" type="text" name="RoleName" required>
                    </div>
                </div>
            </div>
            

        </div>
        @Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
    </form>
</div>

<script src="~/view-resources/TaskFlow/Flow/_AddRoleModal.js" asp-append-version="true"></script>



